* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-bottom: 500px;
}

h1 {
  color: #f00;
}

/* 5 classe dinâmica */
.red-title {
  font-size: 50px;
  color: #f00;
  background-color: #000;
}

.title {
  font-size: 5rem;
}
